

<mat-card class="login-card">

<form class="example-form" [formGroup]="loginForm" (ngSubmit)="login()">
  <mat-card-title class="title">
    Login
  </mat-card-title>
  <mat-card-content>
  <mat-form-field class="example-full-width">
    <mat-label>Write your User Name</mat-label>
    <input formControlName="username" matInput placeholder="Ex. user1" >
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Write your password</mat-label>
    <input formControlName="password" type="password" matInput placeholder="***********">
  </mat-form-field>

      <button type="submit" style="width: 100%" mat-stroked-button color="primary" [disabled]='loginForm.invalid' >Login</button>
    
  </mat-card-content>
</form>
</mat-card>


